<%= form_for(@channel , remote: true) do |f| %>
  <% if @channel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@channel.errors.count, "error") %> prohibited this channel from being saved:</h2>

      <ul>
      <% @channel.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :batch_id %><br>
    <%= f.collection_select :batch_id,Batch.all , :id,:name, promt: "Select a Batch" %>
  </div>
  <div class="field">
    <%= f.label :student%><br>
    <%= f.collection_select :student_ids,Student.all , :id,:name, promt: "Select a student" %>
  </div>
  <div class="field">
    <%= f.label :student %><br>
   <%=f.collection_check_boxes(:student_ids,Student.all, :id,:name) %><br>
  </div>  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<script type="text/javascript">
  //batch students

  var batchHandle = document.getElementById('channel_batch_id');
  var studentHandle = document.getElementById('channel_student_ids');

  batchHandle.onchange = function(){
    // studentHandle.innerHTML = "";
    var output = "";
    var xhr = new XMLHttpRequest();
    xhr.open('GET','/students/filter?batch_id=' + batchHandle.value);
    // console.log(batchHandle.value);
    xhr.onreadystatechange = function(){
      if(xhr.readyState == 4 && xhr.status == 200){
        var response = JSON.parse(xhr.responseText);
        response.forEach(function(student){
          // console.log(student);
          //alert(batchHandle.value);
          alert(Object.keys(student));
          output += "<option value="+ student.id + ">" + student.email + "</option>";
        });
        studentHandle.innerHTML = output;
      }
    }
    xhr.send();
  };
// <input type="checkbox" value= "student.id" name="student.name" id="student.id">
/*xhr.onreadystatechange = function(){
<script type="text/javascript">
function getCheckedCheckboxesFor(checkboxName) {
    var checkboxes = document.querySelectorAll('input[name="' + checkboxName + '"]:checked'), values = [];
    Array.prototype.forEach.call(checkboxes, function(el) {
        values.push(el.value);
    });
    return values;
}*/
</script>