<%= form_for(@channel) do |f| %>
  <% if @channel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@channel.errors.count, "error") %> prohibited this channel from being saved:</h2>

      <ul>
      <% @channel.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :batch_id %><br>
    <%= f.collection_select :batch_id,Batch.all , :id,:name, promt: "Select a Batch" %>
  </div>
  <div class="field">
    <%= f.label :student %><br>
   <%=f.collection_check_boxes(:student_ids,Student.all, :id,:name) %><br>
  </div>  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>