<div class="index">
<p id="notice"><%= notice %></p>
<div class="container">
<h1>Listing Channels</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Batch</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @channels.each do |channel| %>
      <tr>
        <td><%= channel.name %></td>
        <td><%= channel.batch.name %></td>
        <td><%= link_to 'Show', channel %></td>
        <% if user_signed_in? && current_user.is_admin %>
        <td><%= link_to 'Edit', edit_channel_path(channel) %></td>
        <td><%= link_to 'Destroy', channel, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
<% if user_signed_in? && current_user.is_admin %>
<button type="button" class="btn btn-default">
  <%= link_to 'New Channel', new_channel_path %></button>
<% end -%>
</div>
