<h2>Chat Application</h2>

 <ul id = "chat">
 	<%= render @messages  %>
 </ul>
 
 <div id= "chatbox">
 	 <%=form_for Message.new ,remote: true do |f| %>	
 	<%= f.text_field :content %>
 	<%= f.submit "send" %>
 <% end -%>
 </div>

<%= subscribe_to "/vinyas/new" %>