<!-- <h2> <%#= resource_name.to_s.humanize %></h2> -->
<div class="index">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
<div class="container">
<div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2"> 
  <div class="panel panel-info" >
    <div style= "background-color: #2d2d30;" class="panel-heading">
      <div class="panel-title">Edit Account </div>
    </div>
    <div style="padding-top:30px" class="panel-body" >
          <div style="margin-bottom: 25px" class="input-group">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true %>
          </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div style="margin-bottom: 25px" class="input-group">
        <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
        <%= f.password_field :password, autocomplete: "off" %>
        <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>

      <div style="margin-bottom: 25px" class="input-group">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div style="margin-bottom: 25px" class="input-group">
        <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, autocomplete: "off" %>
      </div>

      <div style="margin-bottom: 25px" class="input-group">
        <%= f.submit "Update" %>
    </div>
  </div>
</div>
</div>
<% end %>
</div>
</div>
<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
