<div class="container">
  <%= form_for(@batch) do |f| %>
  <% if @batch.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@batch.errors.count, "error") %>
      prohibited this batch from being saved:</h2>

    <ul>
      <% @batch.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <div class="col-xs-4">
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>
  <div class="field">
    <%= f.label :student %><br>
    <%=f.collection_check_boxes(:student_ids,Student.all, :id,:name) %><br>
  </div>

  <%#= f.submit  %>
  <button type="submit" class="btn btn-default">Submit</button>

  <% end %>
</div>
